:root {
  --theme-colors-hue: 220.44;
  --theme-colors-chroma: calc(0.18 + (cos(var(--theme-colors-hue) * 3.14159265 / 180) * 0.04));
  --theme-colors-chroma-50: calc(var(--theme-colors-chroma) * 0.3);
  --theme-colors-chroma-100: calc(var(--theme-colors-chroma) * 0.5);
  --theme-colors-chroma-200: calc(var(--theme-colors-chroma) * 0.6);
  --theme-colors-chroma-300: calc(var(--theme-colors-chroma) * 0.75);
  --theme-colors-chroma-400: var(--theme-colors-chroma);
  --theme-colors-chroma-600: calc(var(--theme-colors-chroma) * 1.15);
  --theme-colors-chroma-700: calc(var(--theme-colors-chroma) * 1.1);
  --theme-colors-chroma-800: calc(var(--theme-colors-chroma) * 0.85);
  --theme-colors-chroma-900: calc(var(--theme-colors-chroma) * 0.7);
  --theme-colors-chroma-950: calc(var(--theme-colors-chroma) * 0.5);
}

*,
::before,
::after {
  --_histoire-color-gray-50: 250 250 250;
  --_histoire-color-gray-100: 244 244 245;
  --_histoire-color-gray-200: 228 228 231;
  --_histoire-color-gray-300: 212 212 216;
  --_histoire-color-gray-400: 161 161 170;
  --_histoire-color-gray-500: 113 113 122;
  --_histoire-color-gray-600: 82 82 91;
  --_histoire-color-gray-700: 18 18 18;
  --_histoire-color-gray-750: 14 14 14;
  --_histoire-color-gray-800: 10 10 10;
  --_histoire-color-gray-850: 6 6 6;
  --_histoire-color-gray-900: 2 2 2;
  --_histoire-color-gray-950: 0 0 0;
}
