@import './transitions.css';
@import './vue-transitions.css';

:root {
  --bg-color-light: rgb(255 255 255);
  --bg-color-dark: rgb(18 18 18);
  --bg-color: var(--bg-color-light);
}

/**
  Disable double-tap "zoom" option in browser on touch devices

  https://stackoverflow.com/a/54207844
  https://stackoverflow.com/questions/10614481/disable-double-tap-zoom-option-in-browser-on-touch-devices
 */
* {
  touch-action: manipulation;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

html {
  background: var(--bg-color);
  transition: all 0.3s ease-in-out;
}

html.dark {
  --bg-color: var(--bg-color-dark);
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: color-mix(in srgb, oklch(95% var(--chromatic-chroma-900) calc(var(--chromatic-hue) + ${0})) 70%, oklch(50% 0 360));
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.dark #nprogress .bar {
  background: `color-mix(in srgb, oklch(95% var(--chromatic-chroma-900) calc(var(--chromatic-hue) + ${0})) 90%, oklch(90% 0 360))`;
}

@media (display-mode: standalone) {
  #nprogress {
    display: none;
  }
  #nprogress .bar {
    display: none;
  }
}
