.Trash/
.trash/
.DS_Store
**/.obsidian/
.postgres

.idea
.nuxt
.temp
.vite-inspect
*.local
*.log
components.d.ts
**/typed-router.d.ts
dist
out/
node_modules
.eslintcache
**/.cache/**
**/.vitepress/docsMetadata.json
**/.vitepress/cache/
**/tsconfig.tsbuildinfo

**/.netlify/*
**/.netlify/functions-serve/*

coverage/
**/temp/

**/public/assets/js/*
**/public/assets/live2d/models/*
**/public/assets/vrm/models/*
packages/stage-ui/public/assets/fonts/
apps/stage-tamagotchi/public/assets/fonts/
apps/stage-tamagotchi-tauri/public/assets/fonts/
apps/stage-web/public/assets/fonts/

*.pcm
*.wav
*.ogg
*.mp3

twitter-session.json

# Make it easy for devenv users to override their local environment.
# See: https://github.com/moeru-ai/airi/pull/110#discussion_r2024378953
.direnv
.pre-commit-config.yaml
.envrc
.devenv*
devenv.*
