@import './nixie.css';

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #3f121d;
  --sl-color-accent: #c30052;
  --sl-color-accent-high: #f3b6c0;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eeeded;
  --sl-color-gray-2: #c3c1c2;
  --sl-color-gray-3: #8d8b8b;
  --sl-color-gray-4: #5a5758;
  --sl-color-gray-5: #3a3738;
  --sl-color-gray-6: #282627;
  --sl-color-black: #191818;
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #f8c9d0;
  --sl-color-accent: #c60054;
  --sl-color-accent-high: #5c1128;
  --sl-color-white: #191818;
  --sl-color-gray-1: #282627;
  --sl-color-gray-2: #3a3738;
  --sl-color-gray-3: #5a5758;
  --sl-color-gray-4: #8d8b8b;
  --sl-color-gray-5: #c3c1c2;
  --sl-color-gray-6: #eeeded;
  --sl-color-gray-7: #f7f6f6;
  --sl-color-black: #ffffff;
}

.sl-markdown-content img {
  width: 100%;
  height: auto;
}

[data-theme='dark'] .light {
  display: none;
}

[data-theme='light'] .dark {
  display: none;
}

video {
  border-radius: 8px;
}
